---
 const personalImageAlt = "Luis Salamanca"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      My name is Luis, I am 19 years old, and I am from Puerto Varas, Chile 🇨🇱. I am currently studying Computer Engineering at Duoc UC, where I have been part of the <strong>Innovation and Technology Transfer Center (CITT)</strong> since 2023. At CITT, I am working on two projects: <strong>Duckietown</strong> and <strong> <a href='https://ecocashback.cl' target='_blank'> EcoCashBack</a> </strong>
    </p>

    <p>
      Since the beginning of my career, I have been studying and practicing various areas of development, including cloud computing, artificial intelligence, and more, with the aim of gaining knowledge in different areas of programming.
    </p>

    <p>
      As a Computer Engineering student, I have had the opportunity to participate in various competitions, such as the <strong>HACKATON EY-CITT <em>2023</em></strong> and <strong>Duckietown <em>2024</em></strong>.
    </p>
  </div>

  <img width="200" height="200" src="/me.jpeg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5  " style="object-position: 50% 50%">

</article>